<nav class="ui top attached menu">
  <a id="home-sub-item" class="item" href="/home">Your tweets</a>
  <a id="follow-sub-item" class="item" href="/followings">Followings</a>
</nav>

<script type="text/javascript">
  $("#{{_id}}").addClass("active item");
</script>
