<nav class="ui top attached menu">
  <a id="home-sub-item" class="item" href="/home">Your tweets</a>
  <a id="follow-sub-item" class="item" href="/followings">Followings</a>
  <!--a id="firehose-sub-item" class="item" href="/firehose">Firehose</a-->

  <div class="right menu">
    <a id="search-user-sub-item" class="item" href="/searchUser">
      <i class="address book outline icon"></i>
      Search users
    </a>
  </div>
</nav>

<script type="text/javascript">
  $("#{{_id}}").addClass("active item");
</script>
