<div class="ui centered raised card">
  <div class="image">
    <img src="images/logo-1000.png" class="ui medium image">
  </div>
  <div class="content">
    <span class="header">Tweeter</span>
    <div class="description">
      Lets you connect and share
    </div>
  </div>
</div>