<div class="ui raised fluid form segment" id="tweet-form">
  <form action="/makeTweet" method="POST">
    <h3 class="ui header">Make a tweet!</h3>
    <div class="ui top right attached label" id="tweet-label">0 / 140</div>
    <div class="field">
        <textarea name="message" maxlength="140" rows="3" id="tweet-message"></textarea>
      </div>
    <button class="ui orange disabled submit button" id="tweet-button">Share</button>
  </form>
  {{> formerror }}
</div>