<div class="ui centered raised card">
  <div class="center aligned image">
    <i class="massive icons">
      <i class="sun big orange loading icon"></i>
      <i class="twitter icon"></i>
    </i>
  </div>
  <div class="center aligned content">
    <h3 class="ui header">Connecting</h3>
    <div class="ui orange inverted large header">{{usersCount}}</div>
    <h3 class="ui header">Users</h3>
  </div>
</div>