<nav class="ui borderless main menu">
    <a id="home-item" class="header item" href="/">
      <img class="logo" src="images/logo-128.png" />
      <span class="custom-main-logo-text">Tweeter</span>
    </a>
    <div class="right menu">
      <a id="signup-item" class="header item" href="/signup">Sign Up</a>
      <a id="login-item" class="item" href="/login">Log In</a>
    </div>
</nav>

<script type="text/javascript">
  $("#{{_id}}").addClass("active item");
</script>
