<nav class="ui borderless main menu">
    <a class="header item" href="/">
      <img class="logo" src="images/logo.png" />
      <span class="custom-main-logo-text">Tweeter</span>
    </a>
    <div class="right menu">
      <a class="header item" href="/signup">Signup</a>
      <a class="item" href="/login">Log In</a>
    </div>
</nav>