{{> mainmenu _id="home-item" }}

<div class="ui raised segment">
  {{> submenu _id="search-user-item"}}

  {{#if users}}
    <div class="ui basic segment">
      <div class="ui stackable cards">
        {{#each users}}

          {{> user-card searchOpt=true resultUser=this}}

        {{/each}}
      </div>
    </div>
  {{else}}
    {{> no-content subject="No users found" }}
  {{/if}}

</div>