{{> mainmenu _id="home-item" }}

<div class="ui raised segment">
  {{> submenu _id="firehose-sub-item"}}

  <div class="ui basic segment">
    <div class="ui grid">

      <div class="ui ten wide column">
        {{> tweets-list }}
      </div>

      <div class="ui six wide centered column">
        {{> tweets-card }}
      </div>

    </div>
  </div>

</div>