{{> welcomemenu }}

<section class="ui raised segment">
  <div class="ui two column grid">
    <div class="column">
      <header class="ui header">Final project app - Markus Biersack</header>
      <p>Features:</p>
      <ul class="ui list">
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>tbc ...</li>
      </ul>
    </div>
    <div class="center aligned column">
      <p>Massive amounts of amazing description ...</p>
    </div>
  </div>
</section>