{{> welcomemenu _id="home-item" }}

<section class="ui raised segment">
  <div class="ui two column center aligned grid">

    <div class="middle aligned column">
      <div class="ui raised segment">
        <header class="ui dividing header">Final project app - Markus Biersack</header>
        <div class="ui left aligned basic segment">
          <h4>Features:</h4>
          <ul class="ui left aligned list">
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>tbc ...</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="center aligned column">
      {{> tweeter-card }}
    </div>

  </div>
</section>